* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
}

.game-zone{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  position: absolute;
  left: 15%;
  top: 15%;
}

.scene{
  width: 100%;
  overflow: hidden;
}