* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'MyCustomFont', sans-serif;
}

body{
  font-family: 'MyCustomFont', sans-serif;
}
.main{
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
}

.game-zone{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  position: absolute;
  left: 15%;
  top: 15%;
}

.scene{
  width: 100%;
  overflow: hidden;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('/font/AmanzincGrafiti.ttf') format('woff2'),
       url('/font/AmanzincGrafiti.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}
